Repository una-auxme/paf, pull requests merged in 2023-12, with the labels that each got.

#120 119 bug incorrect position calculation
  code/perception/src/Position_Publisher_Node.py
  code/perception/src/coordinate_transformation.py
  code/planning/global_planner/src/global_planner.py
Labels: bug

#129 Add Documentation
  doc/03_research/03_planning/00_paf23/BT_paper.png
  doc/03_research/03_planning/00_paf23/BehaviorTree_medium.png
  doc/03_research/03_planning/00_paf23/Local_planning_for_first_milestone.md
  doc/03_research/03_planning/00_paf23/intersection_scenario.png
  doc/03_research/03_planning/00_paf23/localplan.png
  doc/03_research/03_planning/00_paf23/overtaking_scenario.png
  doc/03_research/03_planning/00_paf23/overview_paper1.png
Labels: planning

#133 feat: package added with test code
  code/planning/local_planner/CMakeLists.txt
  code/planning/local_planner/__init__.py
  code/planning/local_planner/launch/local_planner.launch
  code/planning/local_planner/package.xml
  code/planning/local_planner/setup.py
  code/planning/local_planner/src/collision_check.py
  code/planning/planning_runner/launch/planning_runner.launch
Labels: infrastructure

#123 101 bug segmentation mask
  build/docker-compose.yml
  code/agent/config/rviz_config.rviz
  code/perception/launch/perception.launch
  code/perception/src/vision_node.py
  code/requirements.txt
  doc/06_perception/07_vision_node.md
Labels: perception

#124 109 - Evaluate PAF22 Traffic Light Detection + Bugfixes
  code/perception/src/traffic_light_detection/dataset.dvc
  code/perception/src/traffic_light_detection/dvc.lock
  code/perception/src/traffic_light_detection/dvc.yaml
  code/perception/src/traffic_light_detection/src/data_generation/transforms.py
  code/perception/src/traffic_light_detection/src/traffic_light_detection/classification_model.py
  code/perception/src/traffic_light_detection/src/traffic_light_detection/traffic_light_inference.py
  doc/06_perception/experiments/object-detection-model_evaluation/README.md
  doc/06_perception/experiments/object-detection-model_evaluation/asset-copies/1619_PT_fasterrcnn_resnet50_fpn_v2.jpg
  doc/06_perception/experiments/object-detection-model_evaluation/asset-copies/1619_TF_faster-rcnn.jpg
  doc/06_perception/experiments/object-detection-model_evaluation/asset-copies/1619_yolo_nas_l.jpg
  doc/06_perception/experiments/object-detection-model_evaluation/asset-copies/1619_yolo_rtdetr_x.jpg
  doc/06_perception/experiments/object-detection-model_evaluation/asset-copies/1619_yolov8x.jpg
  doc/06_perception/experiments/object-detection-model_evaluation/asset-copies/1619_yolov8x_seg.jpg
  doc/06_perception/experiments/object-detection-model_evaluation/globals.py
  doc/06_perception/experiments/object-detection-model_evaluation/pt.py
  doc/06_perception/experiments/object-detection-model_evaluation/pylot.py
  doc/06_perception/experiments/object-detection-model_evaluation/requirements.txt
  doc/06_perception/experiments/object-detection-model_evaluation/yolo.py
  doc/06_perception/experiments/traffic-light-detection_evaluation/README.md
  doc/06_perception/experiments/traffic-light-detection_evaluation/assets/back_1.png
  doc/06_perception/experiments/traffic-light-detection_evaluation/assets/back_14.jpg
  doc/06_perception/experiments/traffic-light-detection_evaluation/assets/green_22.jpg
  doc/06_perception/experiments/traffic-light-detection_evaluation/assets/green_4.png
  doc/06_perception/experiments/traffic-light-detection_evaluation/assets/red_10.png
  doc/06_perception/experiments/traffic-light-detection_evaluation/assets/red_20.png
  doc/06_perception/experiments/traffic-light-detection_evaluation/assets/yellow_1.png
  doc/06_perception/experiments/traffic-light-detection_evaluation/assets/yellow_18.jpg
Labels: research, perception

#142 139 feature reduce decision tree
  code/planning/behavior_agent/src/behavior_agent/behavior_tree.py
  doc/00_assets/planning/BT_paper.png
  doc/00_assets/planning/BehaviorTree_medium.png
  doc/00_assets/planning/Globalplan.png
  doc/00_assets/planning/Planning.png
  doc/00_assets/planning/Planning_paf21.png
  doc/00_assets/planning/intersection_scenario.png
  doc/00_assets/planning/localplan.png
  doc/00_assets/planning/overtaking_scenario.png
  doc/00_assets/planning/overview.jpg
  doc/00_assets/planning/overview.png
  doc/00_assets/planning/overview_paper1.png
  doc/00_assets/planning/prios.png
  doc/03_research/03_planning/00_paf23/01_Planning.md
  doc/03_research/03_planning/00_paf23/02_PlanningPaf22.md
  doc/03_research/03_planning/00_paf23/03_PlannedArchitecture.md
  doc/03_research/03_planning/00_paf23/04_Local_planning_for_first_milestone.md
Labels: planning

#149 143 feature create a simple motion planning node
  code/planning/behavior_agent/src/behavior_agent/behaviours/behavior_speed.py
  code/planning/behavior_agent/src/behavior_agent/behaviours/intersection.py
  code/planning/behavior_agent/src/behavior_agent/behaviours/lane_change.py
  code/planning/behavior_agent/src/behavior_agent/behaviours/maneuvers.py
  code/planning/global_planner/launch/global_planner.launch
  code/planning/local_planner/launch/local_planner.launch
  code/planning/local_planner/src/behavior_speed.py
  code/planning/local_planner/src/motion_planning.py
  doc/07_planning/motion_planning.md
Labels: planning

#147 140 feature create an integrated acc with the collision node
  build/docker-compose.yml
  code/acting/launch/acting.launch
  code/planning/global_planner/launch/global_planner.launch
  code/planning/local_planner/CMakeLists.txt
  code/planning/local_planner/launch/local_planner.launch
  code/planning/local_planner/package.xml
  code/planning/local_planner/src/ACC.py
  code/planning/local_planner/src/collision_check.py
  code/planning/local_planner/src/dev_collision_publisher.py
  doc/03_research/Leaderboard-2/capture_sensor_data.py
  doc/07_planning/local_planning.md
Labels: planning

#125 82 feature make analyzing of acting component possible
  code/acting/launch/acting.launch
  code/acting/src/acting/Acting_DebuggerNode.py
  code/acting/src/acting/DummyTrajectoryPublisher.py
  code/acting/src/acting/pure_pursuit_controller.py
  code/acting/src/acting/stanley_controller.py
  code/acting/src/acting/vehicle_controller.py
  code/acting/src/acting/velocity_controller.py
  code/planning/global_planner/launch/global_planner.launch
Labels: acting
