Repository una-auxme/paf, pull requests merged in 2024-12, with the labels that each got.

#516 490 remodel acc concept
  doc/assets/research_assets/ACC_FLC_Example_1.PNG
  doc/research/paf24/planning/ACC.md
Labels: planning

#558 524 general distance measurement of not detected objects for lidar data
  code/perception/launch/perception.launch
  code/perception/src/lidar_distance.py
Labels: perception

#549 529 - Implement service for planning - acting communication
  code/planning/CMakeLists.txt
  code/planning/launch/planning.launch
  code/planning/src/behavior_agent/RequestBehaviourChangeService.py
  code/planning/srv/RequestBehaviourChange.srv
  doc/planning/RequestBehaviourChangeService.md
Labels: planning

#566 553 feature document behaviour tree and behaviours
  code/planning/src/behavior_agent/behaviours/intersection.py
  code/planning/src/behavior_agent/behaviours/lane_change.py
  code/planning/src/behavior_agent/behaviours/overtake.py
  doc/assets/planning/behaviour_tree.PNG
  doc/assets/planning/behaviour_tree.drawio.xml
  doc/planning/Behavior_tree.md
  doc/planning/README.md
  doc/planning/behaviours/Intersection.md
  doc/planning/behaviours/LaneChange.md
  doc/planning/behaviours/LeaveParkingSpace.md
  doc/planning/behaviours/Overtake.md
  doc/planning/behaviours/Unstuck.md
Labels: planning

#587 Added rqt_console to devroute.yaml
  build/docker-compose.devroute.yaml
Labels: system
