Repository una-auxme/paf, pull requests merged in 2024-03, with the labels that each got.

#193 187 - Optimize pytorch weight loading on startup + dependencies update
  build/docker-compose.yml
  code/perception/launch/perception.launch
  code/perception/src/vision_node.py
  code/requirements.txt
Labels: bug, perception

#198 197 feature dimensions of objects
  code/agent/config/dev_objects.json
  code/agent/launch/agent.launch
  code/agent/src/agent/agent.py
  code/perception/launch/perception.launch
  code/perception/src/lidar_distance.py
  code/perception/src/vision_node.py
  doc/06_perception/12_distance_to_objects.md
Labels: perception

#217 feat: hotfixing steering for leaderboard
  code/acting/launch/acting.launch
  code/acting/src/acting/pure_pursuit_controller.py
  code/acting/src/acting/stanley_controller.py
  code/acting/src/acting/vehicle_controller.py
Labels: acting

#215 214 bug improve lidar point cloud quality
  build/Taskfile
  build/docker-compose.dev.yaml
  build/docker/agent/Dockerfile
  build/docker/agent/Dockerfile_Submission
  code/agent/config/dev_objects.json
  code/agent/launch/agent.launch
  code/agent/launch/dev.launch
Labels: bug, perception, planning, acting

#209 191 - Filter out side-facing traffic lights by HSV and shape
  code/perception/src/traffic_light_node.py
Labels: enhancement, perception

#208 190 - Add y distance of traffic light.
  code/perception/src/traffic_light_node.py
  code/perception/src/vision_node.py
Labels: enhancement, perception

#222 219 feature tune planning component to respond to new simulator fork
  build/docker/agent/Dockerfile
  code/acting/launch/acting.launch
  code/planning/src/behavior_agent/behaviours/overtake.py
  code/planning/src/behavior_agent/behaviours/road_features.py
  code/planning/src/local_planner/ACC.py
  code/planning/src/local_planner/collision_check.py
  code/planning/src/local_planner/motion_planning.py
  code/planning/src/local_planner/test_traj.py
  code/planning/src/local_planner/utils.py
Labels: planning

#241 240 - Docs traffic light detection and cleanup
  doc/06_perception/11_traffic_light_detection.md
  doc/06_perception/experiments/traffic-light-detection_evaluation/README.md
Labels: documentation
