Repository una-auxme/paf, pull requests merged in 2024-11, with the labels that each got.

#406 Added Dataflow/Architecture Diagram & Checked Documentation for Planning
  doc/assets/planning/planning_structure.drawio
  doc/assets/planning/planning_structure.png
  doc/planning/README.md
Labels: planning

#418 383 planning evaluate and document motion planning
  code/planning/src/local_planner/motion_planning.py
  doc/general/architecture.md
  doc/planning/motion_planning.md
Labels: planning

#417 #362 research current architecture of planning component
  code/planning/src/global_planner/global_planner.py
  code/planning/src/global_planner/preplanning_trajectory.py
  code/planning/src/local_planner/ACC.py
  doc/assets/research_assets/planning_internal.png
  doc/planning/Global_Planner.md
  doc/planning/README.md
  doc/research/paf24/planning/local_v_global_planning.md
Labels: planning

#425 373 unstuck behavior
  doc/research/paf24/planning/Unstuck_Overtake Behavior.md
Labels: planning

#407 364 summarize leaderboard documentation
  doc/research/paf24/general/leaderboard_summary.md
Labels: general

#401 371 planning collect information about interface between planning and acting
  doc/assets/research_assets/curr_behavior_example.png
  doc/assets/research_assets/nav_msgs_Path_type.png
  doc/assets/research_assets/planning_acting_communication.svg
  doc/assets/research_assets/trajectory_example.png
  doc/research/paf24/planning/planning_acting_relation.md
Labels: planning

#478 398 featureexperiment proper vscode debugging
  .vscode/launch.json
  build/agent_service.yaml
  build/docker-compose.leaderboard.yaml
  build/docker/agent/Dockerfile
  code/acting/src/debug_wrapper.py
  code/agent/launch/agent.launch
  code/debug_wrapper.py
  code/debugging/CMakeLists.txt
  code/debugging/launch/debugging.launch
  code/debugging/package.xml
  code/debugging/setup.py
  code/debugging/src/debug_logger.py
  code/mock/src/debug_wrapper.py
  code/perception/launch/perception.launch
  code/perception/src/debug_wrapper.py
  code/planning/src/debug_wrapper.py
  code/requirements.txt
  doc/development/debugging.md
Labels: enhancement, infrastructure, testing

#505 Add sprint summary template and update guidelines for submission
  doc/dev_talks/paf24/README.md
  doc/dev_talks/paf24/sprint_review_meeting_guidelines.md
  doc/dev_talks/paf24/sprint_summary_template.md
Labels: auxme

#512 Update sprint review presentation guidelines
  doc/dev_talks/paf24/sprint_review_meeting_guidelines.md
  doc/development/sprint_review_presentation.md
Labels: documentation, auxme

#525 523 Distance measurement of not detected objects for radar data
  code/perception/src/radar_node.py
Labels: perception

#515 Added new message types Trajectory and Navigation Point.
  code/planning/CMakeLists.txt
  code/planning/msg/NavigationPoint.msg
  code/planning/msg/Trajectory.msg
  code/planning/package.xml
  code/planning/src/BehaviourEnum.py
Labels: planning
