Repository una-auxme/paf, pull requests merged in 2024-01, with the labels that each got.

#148 110 - Implement traffic light detection
  .gitignore
  build/docker-compose.yml
  code/agent/launch/agent_manual.launch
  code/perception/CMakeLists.txt
  code/perception/launch/perception.launch
  code/perception/msg/TrafficLightState.msg
  code/perception/src/traffic_light_detection/.gitignore
  code/perception/src/traffic_light_detection/dataset.dvc
  code/perception/src/traffic_light_detection/dvc.lock
  code/perception/src/traffic_light_detection/dvclive/metrics.json
  code/perception/src/traffic_light_detection/models/model_acc_92.48_val_91.88.pt
  code/perception/src/traffic_light_detection/params.yaml
  code/perception/src/traffic_light_detection/src/traffic_light_config.py
  code/perception/src/traffic_light_detection/src/traffic_light_detection/traffic_light_inference.py
  code/perception/src/traffic_light_detection/src/traffic_light_detection/traffic_light_training.py
  code/perception/src/traffic_light_detection/src/traffic_light_detection/transforms.py
  code/perception/src/traffic_light_node.py
  code/perception/src/vision_node.py
  code/planning/src/behavior_agent/behavior_tree.py
  code/planning/src/behavior_agent/behaviours/__init__.py
  doc/06_perception/13_traffic_light_detection.md
  doc/06_perception/experiments/object-detection-model_evaluation/yolo.py
Labels: perception

#117 116 - Update CUDA in Dockerfile and bump requirement versions
  build/docker/agent/Dockerfile
  code/requirements.txt
Labels: infrastructure

#162 157 feature create behavior leave parking space
  .flake8
  build/docker-compose.yml
  code/planning/launch/planning.launch
  code/planning/src/behavior_agent/behavior_tree.py
  code/planning/src/behavior_agent/behaviours/behavior_speed.py
  code/planning/src/behavior_agent/behaviours/maneuvers.py
  code/planning/src/behavior_agent/behaviours/topics2blackboard.py
  code/planning/src/local_planner/ACC.py
  code/planning/src/local_planner/behavior_speed.py
  code/planning/src/local_planner/collision_check.py
  code/planning/src/local_planner/motion_planning.py
  doc/00_assets/planning/test_frenet_results.png
  doc/03_research/03_planning/00_paf23/Testing_frenet_trajectory_planner.md
  doc/03_research/03_planning/00_paf23/test_traj.py
Labels: planning

#164 155 feature tune pure pursuit steering algorithm
  code/acting/launch/acting.launch
  code/acting/src/acting/Acting_DebuggerNode.py
  code/acting/src/acting/pure_pursuit_controller.py
  code/acting/src/acting/stanley_controller.py
  code/acting/src/acting/vehicle_controller.py
  code/acting/src/acting/velocity_controller.py
  code/perception/launch/perception.launch
  code/perception/src/Position_Publisher_Node.py
Labels: acting

#180 feat: Add new behavior overtake
  code/planning/src/behavior_agent/behavior_tree.py
  code/planning/src/behavior_agent/behaviours/maneuvers.py
  code/planning/src/behavior_agent/behaviours/overtake.py
  code/planning/src/behavior_agent/behaviours/road_features.py
  code/planning/src/behavior_agent/behaviours/topics2blackboard.py
Labels: planning

#126 115 feature research lidar data
  doc/03_research/02_perception/LIDAR_data.md
Labels: research, perception

#178 176: Expand dev launch with configurable vehicle-spawn + fixed spectator
  build/CustomCarlaSettings.ini
  build/docker-compose.yml
  code/agent/launch/agent.launch
  code/agent/launch/dev.launch
  code/test-route/CMakeLists.txt
  code/test-route/launch/test-route.launch
  code/test-route/package.xml
  code/test-route/src/test_route.py
Labels: enhancement

#183 182: Update simulator and fix ci pull spam
  .github/workflows/build.yml
  build/docker-compose.test.yml
Labels: bug, infrastructure

#173 159 feature intersection behaviour testing
  .flake8
  build/docker-compose.yml
  build/docker/agent/Dockerfile
  code/agent/config/rviz_config.rviz
  code/perception/src/traffic_light_detection/src/traffic_light_detection/traffic_light_inference.py
  code/perception/src/traffic_light_node.py
  code/perception/src/vision_node.py
  code/planning/__init__.py
  code/planning/src/behavior_agent/behaviours/__init__.py
  code/planning/src/behavior_agent/behaviours/behavior_speed.py
  code/planning/src/behavior_agent/behaviours/intersection.py
  code/planning/src/behavior_agent/behaviours/lane_change.py
  code/planning/src/behavior_agent/behaviours/topics2blackboard.py
  code/planning/src/global_planner/global_route_short.txt
  code/planning/src/local_planner/behavior_speed.py
  code/planning/src/local_planner/motion_planning.py
  code/planning/src/local_planner/test_traj.py
  doc/00_assets/planning/Flow_app_enter.png
  doc/00_assets/planning/Flow_app_forwardwait.png
  doc/00_assets/planning/Flow_app_intersection.png
  doc/00_assets/planning/Flow_app_wait.png
  doc/06_perception/13_traffic_light_detection.md
  doc/07_planning/Behavior_detailed.md
Labels: planning

#177 165 feature local trajectory planning with frenet trajectory planner
  build/docker/agent/Dockerfile
  code/planning/src/global_planner/global_planner.py
  code/planning/src/local_planner/ACC.py
  code/planning/src/local_planner/motion_planning.py
  code/planning/src/local_planner/utils.py
  doc/03_research/03_planning/00_paf23/05_local_trajectory_planning.md
Labels: planning

#160 145 distance of objects
  code/agent/config/dev_objects.json
  code/agent/src/agent/agent.py
  code/perception/launch/perception.launch
  code/perception/src/lidar_distance.py
  code/perception/src/lidar_filter_utility.py
  code/perception/src/vision_node.py
  doc/00_assets/2_15_layover.png
  doc/00_assets/2_layover.png
  doc/00_assets/3_layover.png
  doc/00_assets/4_layover.png
  doc/06_perception/12_distance_to_objects.md
Labels: perception
