Repository una-auxme/paf, pull requests merged in 2025-02, with the labels that each got.

#673 small hotfix
  code/planning/src/local_planner/ACC.py
Labels: planning

#683 Merging filter: Improvements via behavior and parameter tuning
  code/mapping/ext_modules/mapping_common/filter.py
  code/mapping/launch/mapping.launch
Labels: system

#659 638 feature rework entering overtake
  code/planning/src/behavior_agent/behavior_tree.py
  code/planning/src/behavior_agent/behaviors/behavior_speed.py
  code/planning/src/behavior_agent/behaviors/behavior_utils.py
  code/planning/src/behavior_agent/behaviors/overtake.py
  code/planning/src/behavior_agent/behaviors/unstuck_routine.py
  code/planning/src/local_planner/motion_planning.py
  code/planning/src/local_planner/utils.py
Labels: planning

#696 695 feature bicycle overtake should be longer than usual
  code/planning/src/behavior_agent/behaviors/behavior_speed.py
  code/planning/src/behavior_agent/behaviors/overtake.py
  code/planning/src/behavior_agent/behaviors/unstuck_routine.py
  code/planning/src/local_planner/motion_planning.py
  code/planning/src/local_planner/utils.py
Labels: planning

#694 592 general traffic light detection works poorly2
  code/perception/CMakeLists.txt
  code/perception/config/TrafficLight.cfg
  code/perception/config/trafficlight_config.yaml
  code/perception/launch/perception.launch
  code/perception/src/traffic_light_node.py
  code/perception/src/vision_node.py
  doc/assets/perception/traffic_light_coordinates.png
  doc/perception/traffic_light_detection.md
  doc/perception/vision_node.md
  doc/research/paf24/perception/traffic_light_approaches.md
Labels: perception

#699 674 feature extension of lane free function
  code/mapping/ext_modules/mapping_common/map.py
  code/mapping/ext_modules/mapping_common/mask.py
  code/planning/src/behavior_agent/behaviors/leave_parking_space.py
  code/planning/src/behavior_agent/behaviors/overtake.py
Labels: planning

#702 681 feature improve behavior tree + visualization
  .vscode/settings.json
  code/agent/config/rviz_config.rviz
  code/mapping/CMakeLists.txt
  code/mapping/ext_modules/mapping_common/entity.py
  code/mapping/ext_modules/mapping_common/map.py
  code/mapping/ext_modules/mapping_common/markers.pxd
  code/mapping/ext_modules/mapping_common/markers.py
  code/mapping/ext_modules/mapping_common/mask.py
  code/planning/CMakeLists.txt
  code/planning/config/BEHAVIOR.cfg
  code/planning/config/behavior_config.yaml
  code/planning/launch/planning.launch
  code/planning/setup.py
  code/planning/src/BehaviourEnum.py.bak
  code/planning/src/behavior_agent/RequestBehaviourChangeService.py
  code/planning/src/behavior_agent/__init__.py
  code/planning/src/behavior_agent/behavior_tree.py
  code/planning/src/behavior_agent/behaviors/behavior_utils.py
  code/planning/src/behavior_agent/behaviors/cruise.py
  code/planning/src/behavior_agent/behaviors/debug_markers.py
  code/planning/src/behavior_agent/behaviors/intersection.py
  code/planning/src/behavior_agent/behaviors/lane_change.py
  code/planning/src/behavior_agent/behaviors/leave_parking_space.py
  code/planning/src/behavior_agent/behaviors/overtake.py
  code/planning/src/behavior_agent/behaviors/topics2blackboard.py
  code/planning/src/behavior_agent/behaviors/unstuck_routine.py
  code/planning/src/global_planner/__init__.py
  code/planning/src/global_planner/dev_global_route.py
  code/planning/src/global_planner/global_planner_node.py
  code/planning/src/global_planner/preplanning_trajectory.py
  code/planning/src/local_planner/ACC.py
  code/planning/src/local_planner/__init__.py
  code/planning/src/local_planner/collision_check.py
  code/planning/src/local_planner/motion_planning.py
  code/requirements.txt
Labels: planning

#710 Add final presentation guidelines for PAF24
  doc/dev_talks/paf24/README.md
  doc/dev_talks/paf24/final_presentation_paf24_information.md
  doc/development/README.md
  doc/development/final_presentation_guidelines.md
Labels: documentation

#707 Added known_errors.md
  doc/general/known_errors.md
Labels: general

#715 704 bug intermediate data integration node does not wait for all sensor data to be available
  code/mapping/src/mapping_data_integration.py
Labels: bug, system

#719 718 feature grow filter of pedestrians
  code/mapping/ext_modules/mapping_common/filter.py
  code/mapping/launch/mapping.launch
  code/mapping/src/mapping_data_integration.py
Labels: perception
