Repository una-auxme/paf, pull requests merged in 2025-01, with the labels that each got.

#570 Intermediate layer base
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/tasks.json
  build/docker-compose.leaderboard.yaml
  build/docker/agent/Dockerfile
  code/agent/config/rviz_config.rviz
  code/agent/launch/agent.launch
  code/mapping/CMakeLists.txt
  code/mapping/README.md
  code/mapping/ext_modules/.debug_enabled
  code/mapping/ext_modules/.gitignore
  code/mapping/ext_modules/cmake_setup.py
  code/mapping/ext_modules/mapping_common/.gitignore
  code/mapping/ext_modules/mapping_common/__init__.pxd
  code/mapping/ext_modules/mapping_common/__init__.py
  code/mapping/ext_modules/mapping_common/entity.pxd
  code/mapping/ext_modules/mapping_common/entity.py
  code/mapping/ext_modules/mapping_common/map.pxd
  code/mapping/ext_modules/mapping_common/map.py
  code/mapping/ext_modules/mapping_common/shape.pxd
  code/mapping/ext_modules/mapping_common/shape.py
  code/mapping/ext_modules/mapping_common/transform.pxd
  code/mapping/ext_modules/mapping_common/transform.py
  code/mapping/ext_modules/setup.py
  code/mapping/launch/mapping.launch
  code/mapping/msg/Entity.msg
  code/mapping/msg/Flags.msg
  code/mapping/msg/Map.msg
  code/mapping/msg/Motion2D.msg
  code/mapping/msg/Shape2D.msg
  code/mapping/msg/TrackingInfo.msg
  code/mapping/msg/Transform2D.msg
  code/mapping/msg/TypeCar.msg
  code/mapping/msg/TypeLanemarking.msg
  code/mapping/msg/TypeTrafficLight.msg
  code/mapping/package.xml
  code/mapping/setup.py
  code/mapping/src/debug_wrapper.py
  code/mapping/src/mapping_data_integration.py
  code/mapping/tests/mapping_common.test
  code/mapping/tests/mapping_common/test_entity.py
  code/mapping/tests/mapping_common/test_general.py
  code/mapping/tests/mapping_common/test_shape.py
  code/mapping/tests/mapping_common/test_transform.py
  code/mapping_visualization/CMakeLists.txt
  code/mapping_visualization/include/mapping_visualization/filter_panel.hpp
  code/mapping_visualization/launch/visualization.launch
  code/mapping_visualization/package.xml
  code/mapping_visualization/resource/filter_panel.ui
  code/mapping_visualization/rviz_panels.xml
  code/mapping_visualization/setup.py
  code/mapping_visualization/src/debug_wrapper.py
  code/mapping_visualization/src/filter_panel.cpp
  code/mapping_visualization/src/visualization.py
  code/requirements.txt
  doc/research/paf24/intermediate_layer/DesignDocument_TopDownMap.md
  doc/research/paf24/intermediate_layer/IntermediateLayer.drawio.png
  pyrightconfig.json
Labels: perception, system

#585 584 feature visualization of lidar object clusters
  code/perception/launch/perception.launch
  code/perception/src/lidar_distance.py
  code/perception/src/radar_node.py
Labels: perception

#588 572 lidar clusters to intermediate
  code/mapping/src/mapping_data_integration.py
Labels: perception, system

#595 Radar clusters to intermediate
  code/mapping/src/mapping_data_integration.py
Labels: perception, system

#501 Add overview diagram of the perception and rearrange README file
  doc/assets/perception/perception_overview.png
  doc/perception/README.md
Labels: perception

#619 578 integrate shapely into shape2d
  code/mapping/ext_modules/mapping_common/entity.py
  code/mapping/ext_modules/mapping_common/map.py
  code/mapping/ext_modules/mapping_common/shape.pxd
  code/mapping/ext_modules/mapping_common/shape.py
  code/mapping/ext_modules/mapping_common/transform.py
  code/mapping/tests/mapping_common/test_entity.py
  code/mapping/tests/mapping_common/test_shape.py
  code/mapping/tests/mapping_common/test_shapely.py
  code/requirements.txt
Labels: planning, acting, system

#414 #376 Road Rules definitions in Carla
  doc/research/paf24/general/carla_traffic_rules.md
Labels: general

#627 Itermediate layer data_init crash fix
  code/mapping/src/mapping_data_integration.py
Labels: bug, perception, system

#632 528 feature 2d3d locations from visionnode for intermediate layer
  .gitignore
  code/agent/config/dev_objects.json
  code/agent/config/rviz_config.rviz
  code/mapping/CMakeLists.txt
  code/mapping/launch/mapping.launch
  code/mapping/msg/ClusteredPointsArray.msg
  code/mapping/msg/PointcloudCluster.msg
  code/mapping/msg/PointcloudClusterArray.msg
  code/mapping/src/mapping_data_integration.py
  code/mapping_visualization/src/visualization.py
  code/perception/launch/perception.launch
  code/perception/src/lidar_distance.py
  code/perception/src/perception_utils.py
  code/perception/src/vision_node.py
  code/perception/src/vision_node_helper.py
  code/planning/src/local_planner/utils.py
  doc/perception/vision_node.md
Labels: perception, system

#590 426 what are real world approaches to sensor configurations
  doc/assets/TheWaymoDriverSensors.png
  doc/research/paf24/perception/real-world approaches.md
Labels: perception

#610 599/601 feature add first intermediate layer map function for useage in behaviour tree and shapely functions
  code/mapping/ext_modules/mapping_common/map.py
  code/planning/src/behavior_agent/behaviors/overtake.py
  code/planning/src/behavior_agent/behaviors/topics2blackboard.py
Labels: planning

#642 582 feature calculate positions of lane markings
  code/mapping/ext_modules/mapping_common/entity.py
  code/mapping/launch/mapping.launch
  code/mapping/msg/TypeLanemarking.msg
  code/mapping/src/mapping_data_integration.py
  code/mapping/tests/mapping_common/test_entity.py
  code/perception/launch/perception.launch
  code/perception/src/Lanedetection_node.py
  code/perception/src/lane_position.py
  code/perception/src/lidar_distance.py
  code/requirements.txt
  doc/assets/perception/Overview_lanedetection_node.jpg
  doc/perception/Lanedetection_node.md
Labels: perception

#646 645 feature add documentation for lane detection
  code/perception/src/lane_position.py
  doc/assets/perception/Overview_lane_position_node.jpg
  doc/assets/perception/Overview_lanedetection_node.jpg
  doc/perception/Lanedetection_node.md
  doc/perception/lane_position.md
Labels: perception

#649 577 feature filter for intermediate layer merging
  code/mapping/CMakeLists.txt
  code/mapping/README.md
  code/mapping/ext_modules/mapping_common/entity.py
  code/mapping/ext_modules/mapping_common/filter.pxd
  code/mapping/ext_modules/mapping_common/filter.py
  code/mapping/ext_modules/mapping_common/map.pxd
  code/mapping/ext_modules/mapping_common/map.py
  code/mapping/launch/mapping.launch
  code/mapping/src/mapping_data_integration.py
  code/mapping/tests/mapping_common/test_shapely.py
  code/mapping_visualization/src/visualization.py
Labels: perception, system

#651 647 unstuck routine detects stuck at plannend stops
  code/planning/src/behavior_agent/behaviors/topics2blackboard.py
  code/planning/src/behavior_agent/behaviors/unstuck_routine.py
  doc/planning/behaviours/Unstuck.md
Labels: planning

#648 611 feature intermediate layer map function lane free
  code/mapping/ext_modules/mapping_common/map.py
  code/mapping/src/mapping_data_integration.py
  code/planning/src/behavior_agent/behaviors/leave_parking_space.py
  code/planning/src/behavior_agent/behaviors/overtake.py
Labels: planning

#643 634 feature Add map function to detect entities on trajectory
  code/mapping/ext_modules/mapping_common/map.py
  code/planning/src/behavior_agent/behaviors/topics2blackboard.py
  code/planning/src/local_planner/motion_planning.py
  code/planning/src/local_planner/utils.py
Labels: planning
