Repository una-auxme/paf, pull requests merged in 2025-03, with the labels that each got.

#728 added hotfix
  code/mapping/config/mapping.cfg
  code/mapping/launch/mapping.launch
  code/mapping/src/mapping_data_integration.py
  code/perception/launch/perception.launch
  code/perception/src/radar_node.py
Labels: perception

#730 721 bug preplanning trajectory crashed sometimes at start
  code/planning/src/global_planner/preplanning_trajectory.py
Labels: bug, perception

#724 722 general one publisher for current state
  code/localization/launch/localization.launch
  code/localization/src/ekf_state_publisher.py
  code/localization/src/evaluation.py
  code/perception/launch/perception.launch
  code/perception/src/position_heading_publisher_node.py
Labels: perception

#725 General motion_planning, acc, behavior and steering overhaul
  code/acting/src/acting/passthrough.py
  code/agent/config/rviz_config.rviz
  code/control/config/Controller.cfg
  code/control/config/controller_config.yaml
  code/control/config/pure_pursuit_config.yaml
  code/control/launch/control.launch
  code/control/src/debug_wrapper.py
  code/control/src/pure_pursuit_controller.py
  code/control/src/stanley_controller.py
  code/control/src/vehicle_controller.py
  code/control/src/velocity_controller.py
  code/mapping/CMakeLists.txt
  code/mapping/config/mapping.cfg
  code/mapping/ext_modules/mapping_common/entity.py
  code/mapping/ext_modules/mapping_common/hero.pxd
  code/mapping/ext_modules/mapping_common/hero.py
  code/mapping/ext_modules/mapping_common/map.py
  code/mapping/ext_modules/mapping_common/markers.py
  code/mapping/ext_modules/mapping_common/mask.py
  code/mapping/ext_modules/mapping_common/transform.py
  code/mapping/msg/Entity.msg
  code/mapping/msg/TypeStopMark.msg
  code/mapping/src/mapping_data_integration.py
  code/mapping/srv/UpdateStopMarks.srv
  code/mapping/tests/mapping_common/test_entity.py
  code/mapping/tests/mapping_common/test_shapely.py
  code/planning/CMakeLists.txt
  code/planning/config/ACC.cfg
  code/planning/config/acc_config.yaml
  code/planning/launch/planning.launch
  code/planning/msg/NavigationPoint.msg
  code/planning/msg/Trajectory.msg
  code/planning/src/behavior_agent/behavior_tree.py
  code/planning/src/behavior_agent/behaviors/behavior_speed.py
  code/planning/src/behavior_agent/behaviors/intersection.py
  code/planning/src/behavior_agent/behaviors/leave_parking_space.py
  code/planning/src/behavior_agent/behaviors/overtake.py
  code/planning/src/behavior_agent/behaviors/overtake_service_utils.py
  code/planning/src/behavior_agent/behaviors/speed_alteration.py
  code/planning/src/behavior_agent/behaviors/stop_mark_service_utils.py
  code/planning/src/behavior_agent/behaviors/topics2blackboard.py
  code/planning/src/global_planner/global_planner_node.py
  code/planning/src/local_planner/ACC.py
  code/planning/src/local_planner/collision_check.py
  code/planning/src/local_planner/motion_planning.py
  code/planning/srv/EndOvertake.srv
  code/planning/srv/OvertakeStatus.srv
  code/planning/srv/SpeedAlteration.srv
  code/planning/srv/StartOvertake.srv
Labels: enhancement, planning, acting

#731 688 feature add lane free check to lanechange behavior
  build/agent_service.yaml
  code/mapping/ext_modules/mapping_common/map.py
  code/perception/CMakeLists.txt
  code/perception/msg/LaneChange.msg
  code/perception/src/global_plan_distance_publisher.py
  code/planning/src/behavior_agent/behavior_tree.py
  code/planning/src/behavior_agent/behaviors/behavior_speed.py
  code/planning/src/behavior_agent/behaviors/lane_change.py
  code/planning/src/behavior_agent/behaviors/overtake.py
  code/planning/src/behavior_agent/behaviors/topics2blackboard.py
  code/planning/src/local_planner/utils.py
  doc/general/architecture_current.md
  doc/general/architecture_planned.md
  doc/planning/motion_planning.md
Labels: planning

#740 734 Cleanup, behavior tree, some constants etc not used anymore
  code/acting/CMakeLists.txt
  code/acting/launch/acting.launch
  code/acting/src/acting/Acting_Debug_Node.py
  code/agent/launch/agent.launch
  code/agent/launch/agent_manual.launch
  code/control/CMakeLists.txt
  code/control/config/Controller.cfg
  code/control/config/controller_config.yaml
  code/control/launch/control.launch
  code/control/src/vehicle_controller.py
  code/mock/src/debug_wrapper.py
  code/planning/CMakeLists.txt
  code/planning/launch/planning.launch
  code/planning/src/behavior_agent/behavior_tree.py
  code/planning/src/behavior_agent/behaviors/behavior_names.py
  code/planning/src/behavior_agent/behaviors/behavior_speed.py
  code/planning/src/behavior_agent/behaviors/cruise.py
  code/planning/src/behavior_agent/behaviors/intersection.py
  code/planning/src/behavior_agent/behaviors/lane_change.py
  code/planning/src/behavior_agent/behaviors/leave_parking_space.py
  code/planning/src/behavior_agent/behaviors/meta.py
  code/planning/src/behavior_agent/behaviors/overtake.py
  code/planning/src/behavior_agent/behaviors/topics2blackboard.py
  code/planning/src/behavior_agent/behaviors/unstuck_routine.py
  code/planning/src/local_planner/utils.py
  doc/control/architecture_documentation.md
  doc/control/discontinued/config/Stanley.cfg
  doc/control/discontinued/config/stanley_config.yaml
  doc/control/discontinued/launch/stanley.launch
  doc/control/discontinued/msg/StanleyDebug.msg
  doc/control/discontinued/src/stanley_controller.py
  doc/control/discontinued/stanley.md
  doc/control/steering_controllers.md
  doc/control/vehicle_controller.md
  doc/general/architecture_current.md
  doc/general/architecture_planned.md
  doc/planning/behaviours/Unstuck.md
  doc/planning/discontinued/RequestBehaviourChangeService.md
  doc/planning/discontinued/mock.md
  doc/planning/discontinued/mock/CMakeLists.txt
  doc/planning/discontinued/mock/launch/mock.launch
  doc/planning/discontinued/mock/msg/Stop_sign.msg
  doc/planning/discontinued/mock/msg/Traffic_light.msg
  doc/planning/discontinued/mock/package.xml
  doc/planning/discontinued/mock/setup.py
  doc/planning/discontinued/mock/src/mock_intersection_clear.py
  doc/planning/discontinued/mock/src/mock_stop_sign.py
  doc/planning/discontinued/mock/src/mock_traffic_light.py
  doc/planning/discontinued/src/RequestBehaviourChangeService.py
  doc/planning/discontinued/srv/RequestBehaviourChange.srv
  doc/planning/motion_planning.md
Labels: general

#750 [Feature] ACC emergancy break, construction sign overtake fix, hotfix unstuck
  code/mapping/ext_modules/mapping_common/filter.py
  code/mapping/ext_modules/mapping_common/map.py
  code/planning/src/behavior_agent/behaviors/leave_parking_space.py
  code/planning/src/behavior_agent/behaviors/overtake.py
  code/planning/src/behavior_agent/behaviors/overtake_service_utils.py
  code/planning/src/behavior_agent/behaviors/unstuck_routine.py
  code/planning/src/local_planner/ACC.py
Labels: planning

#749 Refactored the radar_node.
  code/perception/launch/perception.launch
  code/perception/src/radar_node.py
Labels: documentation, perception

#757 Hotfix: 755 bug motionplanning empty trajectory when leaving trajectory too far
  code/planning/src/local_planner/motion_planning.py
Labels: bug

#752 Add end overtake if obstacle
  code/mapping/ext_modules/mapping_common/map.py
  code/mapping/ext_modules/mapping_common/mask.py
  code/planning/src/behavior_agent/behaviors/overtake.py
Labels: planning

#697 669 Reworked Intersection behavior
  code/mapping/ext_modules/mapping_common/map.py
  code/perception/CMakeLists.txt
  code/perception/msg/LaneChange.msg
  code/perception/msg/Waypoint.msg
  code/perception/src/global_plan_distance_publisher.py
  code/planning/config/BEHAVIOR.cfg
  code/planning/config/behavior_config.yaml
  code/planning/src/behavior_agent/behavior_tree.py
  code/planning/src/behavior_agent/behaviors/intersection.py
  code/planning/src/behavior_agent/behaviors/lane_change.py
  code/planning/src/behavior_agent/behaviors/topics2blackboard.py
  code/planning/src/behavior_agent/behaviors/unstuck_routine.py
  code/planning/src/behavior_agent/behaviors/waypoint_utils.py
  code/planning/src/local_planner/motion_planning.py
  doc/general/architecture_current.md
  doc/general/architecture_planned.md
  doc/planning/motion_planning.md
Labels: planning

#746 514 general debugger improvements doc
  doc/development/debugging.md
Labels: documentation

#776 775 general lanedetection documentation
  doc/general/discontinued/known_errors.md
  doc/perception/Lanedetection_node.md
  doc/perception/README.md
  doc/perception/lane_position.md
Labels: documentation, perception

#786 732 general update localization documentation
  code/localization/src/coordinate_transformation.py
  code/localization/src/evaluation/visualize_filter_comparison.py
  code/localization/src/position_heading_publisher_node.py
  doc/assets/gnss_ohne_rolling_average.png
  doc/assets/localization/change_new_and_old_filter.jpeg
  doc/assets/localization/comparison_kalman_ekf.png
  doc/assets/localization/filter_choice.jpeg
  doc/assets/localization/kalman_filter_heading.png
  doc/assets/localization/kalman_filter_x_pos.png
  doc/assets/localization/kalman_filter_y_pos.png
  doc/assets/localization/mae_boxed.png
  doc/assets/localization/mse_boxed.png
  doc/assets/localization/new_test_filter.jpeg
  doc/assets/localization/overview_ekf.jpeg
  doc/assets/localization/overview_localization.jpeg
  doc/assets/localization/quat_to_heading.png
  doc/assets/perception/adding_new_position_methods.png
  doc/assets/perception/kalman_installation_guide.png
  doc/assets/perception/modular_subscriber_example.png
  doc/assets/perception/new_heading_pub_example.png
  doc/assets/perception/non_linear_kalman_example.png
  doc/assets/perception/sensor_debug_change.png
  doc/assets/perception/sensor_debug_data_saving.png
  doc/assets/perception/sensor_debug_viz_config.png
  doc/localization/README.md
  doc/localization/architecture.md
  doc/localization/coordinate_transformation.md
  doc/localization/discontinued/evaluation.py
  doc/localization/evaluation.md
  doc/localization/experiments/Position_Heading_Datasets/plots/data_26_RMSPE_Boxed.png
  doc/localization/extended_kalman_filter.md
  doc/localization/kalman_filter.md
  doc/localization/position_heading_publisher_node.md
  doc/perception/README.md
  doc/perception/coordinate_transformation.md
  doc/perception/kalman_filter.md
  doc/perception/localization.md
  doc/perception/position_heading_filter_debug_node.md
  doc/perception/position_heading_publisher_node.md
Labels: documentation

#764 761 general add mapping documentation to doc
  build/docker-compose.docs.yaml
  build/docker/docs/Dockerfile
  code/mapping/README.md
  code/mapping/ext_modules/mapping_common/__init__.py
  code/mapping/ext_modules/mapping_common/entity.py
  code/mapping/ext_modules/mapping_common/filter.py
  code/mapping/ext_modules/mapping_common/hero.py
  code/mapping/ext_modules/mapping_common/map.py
  code/mapping/ext_modules/mapping_common/markers.py
  code/mapping/ext_modules/mapping_common/mask.py
  code/mapping/ext_modules/mapping_common/shape.py
  code/mapping/ext_modules/mapping_common/transform.py
  code/mapping/src/mapping_data_integration.py
  doc/README.md
  doc/assets/mapping/intermediate_layer_2d.png
  doc/assets/mapping/intermediate_layer_3d.png
  doc/mapping/.gitignore
  doc/mapping/README.md
  doc/mapping/generate.sh
  doc/mapping/generated/mapping_common/README.md
  doc/mapping/generated/mapping_common/entity.md
  doc/mapping/generated/mapping_common/filter.md
  doc/mapping/generated/mapping_common/hero.md
  doc/mapping/generated/mapping_common/index.md
  doc/mapping/generated/mapping_common/map.md
  doc/mapping/generated/mapping_common/markers.md
  doc/mapping/generated/mapping_common/mask.md
  doc/mapping/generated/mapping_common/shape.md
  doc/mapping/generated/mapping_common/transform.md
  doc/mapping/generated/nodes.md
  doc/mapping/pydoc-markdown.yaml
Labels: documentation
